/* ==================================滚动条============================= */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent
    );
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}

/* ================================字体================================== */
@font-face {
    font-family: 'Jayhrn';
    /* 字体名自定义即可 */
    src: url('https://cdn.jsdelivr.net/gh/Jayhrn/CDN@86c6abf542845a01ad7e561dd58085188d9155d3/ZhuZiAWan.woff2');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: Jayhrn !important;
}

/* 修改代码字体 */
#article-container pre, #article-container code {
    font-family: Jayhrn !important;
    font-size: 15px !important;
}

/* ==========================鼠标样式======================================= */
/* 全局默认鼠标指针 */
body,
html {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/arrow.cur'), auto !important;
}

/* 悬停图片时的鼠标指针 */
img {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'), auto !important;
}

/* 选择链接标签时的鼠标指针 */
a:hover {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'), auto;
}

/* 选中输入框时的鼠标指针 */
input:hover {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/input.cur'), auto;
}

/* 悬停按钮时的鼠标指针 */
button:hover {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/btn.cur'), auto;
}

/* 悬停列表标签时的鼠标指针 */
i:hover {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/link.cur'), auto;
}

/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'), auto;
}

/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/i.cur'), auto;
}

/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover {
    cursor: url('https://npm.elemecdn.com/akilar-candyassets/cur/hf.cur'), auto;
}

/*==============================菜单居中=====================================*/
/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
    display: inline-block;
}

/* 圆角隐藏 */
ul.menus_item_child {
    overflow: hidden;
    border-radius: 5px;
}

/* 调整空隙，确保不会天下武功唯快不破 */
#nav .menus_items .menus_item .menus_item_child {
    margin-top: 0px !important;
}

/* 一级菜单居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

/*==================页脚footer渐变色滚动动画=========================================*/
@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

#footer {
    background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer:before {
    background-color: rgba(0, 0, 0, 0);
}


/*===================顶部进度条,采用Heo版本============================*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 4rem;
    background: #eaecf2;
    border: 1px #e3e8f7;
    overflow: hidden
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: .3s ease-in
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: absolute;
    z-index: 2000;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    animation: gradient 2s ease infinite;
    background-size: 200%
}

.pace.pace-inactive {
    opacity: 0;
    transition: .3s;
    top: -8px
}

/*=========================twikoo评论块样式==============================*/
/* 自定义twikoo评论输入框高度 */
.tk-input[data-v-619b4c52] .el-textarea__inner {
    height: 130px !important;
    background-image: url("https://npm.elemecdn.com/akilar-candyassets/image/zhifeiji.gif");
}
/* 输入评论时自动隐藏输入框背景图片 */
.tk-input[data-v-619b4c52] .el-textarea__inner:focus {
    background-image: none !important;
}
/* 调整楼中楼样式 ，整体左移，贴合气泡化效果 */
.tk-replies {
    left: -70px;
    width: calc(100% + 70px);
}
/* 头像宽度调整 rem单位与全局字体大小挂钩，需配合自己情况调整大小以保证头像显示完整*/
.tk-replies .tk-avatar {
    width: 2.5rem !important;
    height: 2.5rem !important;
}
.tk-replies .tk-avatar img {
    width: 2.5rem !important;
    height: 2.5rem !important;
}
/* 回复框左移，避免窄屏时出框 */
.tk-comments-container .tk-submit {
    position: relative;
    left: -70px;
}
/* 评论块气泡化修改 */
.tk-content {
    background: #00a6ff; /*默认模式访客气泡配色*/
    padding: 10px;
    color: #fff; /*默认模式访客气泡字体配色*/
    border-radius: 10px;
    font-size: 16px !important;
    width: fit-content;
    max-width: 100%;
    position: relative !important;
    overflow: visible !important;
    max-height: none !important;
}
/* 修复图片出框 */
.tk-content img {
    max-width: 100% !important;
}
/* 修复过长文本出框 */
.tk-content pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.tk-content a {
    color: #eeecaa; /*默认模式超链接配色*/
}
.tk-content::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    left: -13px;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #00a6ff; /*默认模式访客气泡小三角配色*/
    border-left: 0px solid transparent;
}
.tk-master .tk-content {
    background: #ff8080; /*默认模式博主气泡配色*/
    color: #fff; /*默认模式博主气泡字体配色*/
    width: fit-content;
    max-width: 100%;
}
.tk-master .tk-content a {
    color: #eeecaa;
}
.tk-master .tk-content::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    left: -13px;
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #ff8080; /*默认模式博主气泡小三角配色*/
    border-left: 0px solid transparent;
}
.tk-row[data-v-d82ce9a0] {
    max-width: 100%;
    width: fit-content;
}
.tk-avatar {
    border-radius: 50%;
    margin-top: 10px;
}

/* 夜间模式配色，具体比照上方默认模式class */
[data-theme="dark"] .tk-content {
    background: #000;
    color: #fff;
}
[data-theme="dark"] .tk-content a {
    color: #dfa036;
}
[data-theme="dark"] .tk-content::before {
    border-right: 15px solid #000;
}
[data-theme="dark"] .tk-master .tk-content {
    background: #000;
    color: #fff;
}
[data-theme="dark"] .tk-master .tk-content a {
    color: #dfa036;
}
[data-theme="dark"] .tk-master .tk-content::before {
    border-top: 2px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #000;
    border-left: 0px solid transparent;
}
/* 自适应内容 */
@media screen and (min-width: 1024px) {
    /* 设置宽度上限，避免挤压博主头像 */
    .tk-content {
        max-width: 75%;
        width: fit-content;
    }
    .tk-master .tk-content {
        width: 75%;
    }
    .tk-master .tk-content::before {
        left: 100%;
        border-left: 15px solid #ff8080;
        border-right: 0px solid transparent;
    }
    .tk-master .tk-avatar {
        position: relative;
        left: calc(75% + 70px);
    }
    .tk-master .tk-row[data-v-d82ce9a0] {
        position: relative;
        top: 0px;
        left: calc(75% - 230px);
    }
    [data-theme="dark"] .tk-master .tk-content::before {
        border-left: 15px solid #000;
        border-right: 0px solid transparent;
    }
}
/* 设备名称常态隐藏，悬停评论时显示 */
.tk-extras {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.tk-content:hover + .tk-extras {
    -webkit-animation: tk-extras-fadeIn 0.5s linear;
    -moz-animation: tk-extras-fadeIn 0.5s linear;
    -o-animation: tk-extras-fadeIn 0.5s linear;
    -ms-animation: tk-extras-fadeIn 0.5s linear;
    animation: tk-extras-fadeIn 0.5s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-moz-keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-webkit-keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@-o-keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}
@keyframes tk-extras-fadeIn {
    from {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    }
    to {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}